.cast-list {
  .swiper {
    position: unset;
    .swiper-button-prev {
      color: white !important;
      left: -60px;
    }

    .swiper-button-next {
      color: white !important;
      right: -60px;
    }
  }
}
