.swiper {
  // * Swiper Navigation
  position: unset;
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 15px;
    left: auto;
    &::after {
      color: white;
      font-size: 24px;
      font-weight: 900;
    }
  }
  .swiper-button-prev {
    right: 10px;
  }
  .swiper-button-prev {
    right: 48px;
  }

  .swiper-wrappe {
    position: unset;
  }

  // * Swiper Pagination
  .swiper-pagination {
    position: unset;

    .swiper-pagination-bullet {
      border-radius: 0;
      width: 20px;
      background-color: bisque;
    }
  }
}
