$color-primary: #f62682;
$color-secondary: #f6268490;

.pagination {
  color: white;
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 8px;

    li {
      line-height: normal;
      padding: 4px 8px;
      border-radius: 4px;
      &:hover {
        background-color: $color-secondary;
        transition: 0.2s linear;
      }
    }

    .selected {
      color: white;
      background-color: $color-primary;
    }

    .disabled {
      opacity: 0.3;
    }

    @media screen and (min-width: 420px) {
      gap: 10px;
    }
    @media screen and (min-width: 640px) {
      gap: 12px;
      li {
        padding: 6px 12px;
      }
    }
  }
}
